@{
    ViewData["Title"] = "Home Page";
}
<div class="h-100 bg-gradient mt-0 pt-5" style="background-color: #fd7014">
    <div class="text-center">
        <div class="mt-5">
            <img class="img-fluid img-thumbnail rounded rounded-3 shadow-sm" src="img/the-bug-tracker-logo.png"/>
        </div>
        
    </div>  
</div>
<div class="text-center display-3">
    <div class="mt-5 text-dark">The <b style="color: #fd7014">BEST</b> Issue Tracking System <b style="color: #fd7014">EVER!</b></div>
</div>


